*{
    --bg-color: rgb(248, 244, 245);
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: var(--bg-color);
    font-family: lato;
    margin:0;
    letter-spacing: 1px;    
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    background-color: #6633cc;
    margin: 6px;
    color: #fff;
    padding: 0px 30px 0px 20px;
    display: table-caption;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(16, 169, 237);
}
h4 {
    margin: 0;
}
.navTop {
    position: fixed;
    background-image: url("../images/header_bg.png");
    width: 100%;
    height: 70px;
    display: table-caption;
}

.left {
    display: inline-block;
    padding-left: 60px;
    position: absolute;
}
.left img {
    width: 100px;
    margin-top: 4px;
} 
.right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
.right li {
    display: inline;
}
.right li a{
    padding: 10px 20px 0px 0px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin:17px;
}
.right a:hover {
    text-decoration: underline;
}
.right button {    
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 30px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}
.segment-one button {
    background-color: #e51a94;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
}
.segment-one {
    height: 500px;
    background-image: url("../images/caravana_banner.png")
}
.segment-one .content {
    padding-top: 150px;
    margin: 0 auto;
    width: 700px;
    height: 500px;
}
.segment-one span {
    color: black;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: -6px 2px 9px #fff;
}
.segment-two {
    display: flex;
}
.segment-two .content {
    margin-top: -50px;
    width: 40%;
    flex: 44%;
    margin-left: 100px;
    padding: 100px 50px 100px 0px;
}
.segment-two img {
    width: 100%;
}
.segment-two p {
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    line-height: 30px;
}
.segment-two button {
    background-color: #e51a94;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
}
.discount {
    background-color: black;
    height: 100px;
    width: 100%;
}
.discount .content {
    width: 800px;
    margin: 0 auto;
    width: 900px;
    padding-top: 26px;
}
.discount span {
    font-size: 20px;
}
.discount input {
    font-size: 14px;
    color: grey;
    border-radius: 20px;
    letter-spacing: 1px;
    border: none;
    padding: 10px 20px;
}
.discount button {
    background-color: #e51a94;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
}    
.results {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;  
}
.results article {
    width: calc(1/3*100% - 30px);
    margin: 15px;
    color: black;
    font-size: 16px;
}
.segment-three {
    height: 600px;
    background-image: url("../images/bg_yellow.png")
}
.segment-three h2 {
    text-align: center;
}
.segment-three .content{
    margin: 0 auto;
    width: 900px;
    padding-top: 26px;
}
.segment-four {
    background-color: #e51a94;
    height: 900px;
}
.segment-four h2{
    color: #fff;
    text-align: center;
}
.segment-four .content{
    margin: 0 auto;
    width: 900px;
    padding-top: 26px;
    
} 
.menu-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    text-align: center;
}
.menu-top li a{
    margin: 14px;
    color: #fff;
    text-decoration: none;
}
.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 1fr);
}
.a {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.wrapper img {
    width: 100%;
    display: table-row-group;
}
.menu-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.segment-five {
    background-image: url("../images/bg_reserva.png");
    height: 517px;
}
.segment-five h2 {
    text-align: center;
    color: #fff;
    margin: 40px 0px 20px 0px;
}
.segment-five .content {
    margin: 0 auto;
    width: 900px;
    padding-top: 26px;
    justify-content: center;
}
.segment-five span {
    display: block;
    text-align: center;
    margin: 14px;
}
/*first of list and last?*/
.segment-five input {
    width: 400px;
    margin: 10px; 
    font-size: 14px;
    color: grey;
    border-radius: 20px;
    letter-spacing: 1px;
    border: none;
    padding: 10px 20px;
}    
.segment-five button {
    background-color: #e51a94;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
}
.footer-one {
    background-image: url("../images/bg_footer.png");
    height: 402px;
}
.footer-one .content {
    margin: 0 auto;
    width: 900px;
    padding-top: 72px;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}
.footer-one div{    
    color: #fff;
    border-radius: 20px;
    text-align: center;
}
.footer-one span{
    display: block;
    text-align: center;
    margin: 5px;
}
.footer-two {
    background: black;
    height: 200px;
}    